In [3]:
import __init__
#
from information_boards import DIn_PIn, DIn_POut, DOut_PIn, DOut_POut
from information_boards import CENT, SEC60
from information_boards import charts_dir
#
from taxi_common.file_handling_functions import check_dir_create
from taxi_common.charts import simple_barchart
#
import pandas as pd

# Overall analysis
In this analysis, regardless of years, some basic statistics about fare and duration are calculated.

## Airport trip analysis

### Data loading and specification

In [5]:
from information_boards.a_overall_analysis import ap_tm_num_dur_fare_fpath
df = pd.read_csv(ap_tm_num_dur_fare_fpath)
df.head()

   yy  mm  dd  hh day-of-week  total-num  total-dur  total-fare  trip-mode
0   9   1   1   0         Thu         10      10560       18730          0
1   9   1   1   0         Thu         25      20460       35389          1
2   9   1   1   0         Thu        335     410640      847700          2
3   9   1   1   0         Thu      20139   18249900    28976656          3
4   9   1   1   1         Thu         43      46800      101045          0

## Average fare and duration per trip

* Airport trips vs. General trips

    * Average fare per trip

    * Average duration per trip

# Night safari trip analysis

In [ ]:
from information_boards.a_overall_analysis import ns_tm_num_dur_fare_fpath