In [1]:
import __init__
#
import pandas as pd
import numpy as np

In [2]:
from information_boards import trip_ap_summary_fpath
df = pd.read_csv(trip_ap_summary_fpath)

In [3]:
df.head()

,year,month,day,dayOfWeek,hour,pickUpTerminalAP,prevEndTerminalAP,totalNum
0,2009,1,11,Sun,6,T2,T1,2
1,2009,1,9,Fri,10,T1,X,17
2,2009,1,13,Tue,22,T3,T1,11
3,2009,1,9,Fri,1,T3,T2,1
4,2009,1,22,Thu,8,BudgetT,X,1

In [12]:
Y2009 = df[(df['year'] == 2009)]
Y2009 = Y2009.groupby(['year', 'pickUpTerminalAP', 'prevEndTerminalAP']).sum()['totalNum'].reset_index()
Y2009 = Y2009.sort_values(by=['prevEndTerminalAP', 'pickUpTerminalAP'])
for prevEndTerminalAP, pickUpTerminalAP, totalNum in Y2009.loc[:,['prevEndTerminalAP', 'pickUpTerminalAP', 'totalNum']].values:
    if prevEndTerminalAP == 'X':
        print "['Drop%s', 'Pick%s', %d]," % (prevEndTerminalAP, pickUpTerminalAP, np.log(totalNum))
    else:
        print "['Drop%s', 'Pick%s', %d]," % (prevEndTerminalAP, pickUpTerminalAP, totalNum)

['DropBudgetT', 'PickBudgetT', 40528],
['DropBudgetT', 'PickT1', 9951],
['DropBudgetT', 'PickT2', 11102],
['DropBudgetT', 'PickT3', 6668],
['DropBudgetT', 'PickX', 218263],
['DropT1', 'PickBudgetT', 32166],
['DropT1', 'PickT1', 85625],
['DropT1', 'PickT2', 108144],
['DropT1', 'PickT3', 30076],
['DropT1', 'PickX', 684300],
['DropT2', 'PickBudgetT', 36293],
['DropT2', 'PickT1', 35234],
['DropT2', 'PickT2', 150947],
['DropT2', 'PickT3', 36970],
['DropT2', 'PickX', 761446],
['DropT3', 'PickBudgetT', 21744],
['DropT3', 'PickT1', 53986],
['DropT3', 'PickT2', 53556],
['DropT3', 'PickT3', 85702],
['DropT3', 'PickX', 550125],
['DropX', 'PickBudgetT', 11],
['DropX', 'PickT1', 13],
['DropX', 'PickT2', 12],
['DropX', 'PickT3', 12],
['DropX', 'PickX', 18],

In [13]:
Y2010 = df[(df['year'] == 2010)]
Y2010 = Y2010.groupby(['year', 'pickUpTerminalAP', 'prevEndTerminalAP']).sum()['totalNum'].reset_index()
Y2010 = Y2010.sort_values(by=['prevEndTerminalAP', 'pickUpTerminalAP'])
for prevEndTerminalAP, pickUpTerminalAP, totalNum in Y2010.loc[:,['prevEndTerminalAP', 'pickUpTerminalAP', 'totalNum']].values:
    if prevEndTerminalAP == 'X':
        print "['Drop%s', 'Pick%s', %d]," % (prevEndTerminalAP, pickUpTerminalAP, np.log(totalNum))
    else:
        print "['Drop%s', 'Pick%s', %d]," % (prevEndTerminalAP, pickUpTerminalAP, totalNum)

['DropBudgetT', 'PickBudgetT', 56721],
['DropBudgetT', 'PickT1', 20314],
['DropBudgetT', 'PickT2', 17696],
['DropBudgetT', 'PickT3', 13603],
['DropBudgetT', 'PickX', 238938],
['DropT1', 'PickBudgetT', 44310],
['DropT1', 'PickT1', 143148],
['DropT1', 'PickT2', 145580],
['DropT1', 'PickT3', 50306],
['DropT1', 'PickX', 766128],
['DropT2', 'PickBudgetT', 48076],
['DropT2', 'PickT1', 54530],
['DropT2', 'PickT2', 195246],
['DropT2', 'PickT3', 59151],
['DropT2', 'PickX', 776591],
['DropT3', 'PickBudgetT', 28963],
['DropT3', 'PickT1', 88354],
['DropT3', 'PickT2', 74787],
['DropT3', 'PickT3', 117582],
['DropT3', 'PickX', 571779],
['DropX', 'PickBudgetT', 11],
['DropX', 'PickT1', 13],
['DropX', 'PickT2', 12],
['DropX', 'PickT3', 12],
['DropX', 'PickX', 18],

# Percentile

In [14]:
Ydf = Y2009
pickUpAP2009, pickUpX2009 = {}, {}
for prevEndTerminalAP, pickUpTerminalAP, totalNum in Ydf.loc[:,['prevEndTerminalAP', 'pickUpTerminalAP', 'totalNum']].values:
    if prevEndTerminalAP == 'X':
        pickUpX2009[pickUpTerminalAP] = totalNum
    else:
        pickUpAP2009[pickUpTerminalAP] = totalNum
#
Ydf = Y2010
pickUpAP2010, pickUpX2010 = {}, {}
for prevEndTerminalAP, pickUpTerminalAP, totalNum in Ydf.loc[:,['prevEndTerminalAP', 'pickUpTerminalAP', 'totalNum']].values:
    if prevEndTerminalAP == 'X':
        pickUpX2010[pickUpTerminalAP] = totalNum
    else:
        pickUpAP2010[pickUpTerminalAP] = totalNum

In [20]:
print 'Drop AP'
print '\t Year 2009'
for pickUpLoc, num in pickUpAP2009.iteritems():
    print '\t\t Pick%s %.2f' % (pickUpLoc, num/float(sum(pickUpAP2009.values())))
print '\t Year 2010'
for pickUpLoc, num in pickUpAP2010.iteritems():
    print '\t\t Pick%s %.2f' % (pickUpLoc, num/float(sum(pickUpAP2010.values())))
#
print 'Drop X (other areas)'
    
print '\t Year 2009'
for pickUpLoc, num in pickUpX2009.iteritems():
    print '\t\t Pick%s %.4f' % (pickUpLoc, num/float(sum(pickUpX2009.values())))
print '\t Year 2010'
for pickUpLoc, num in pickUpX2010.iteritems():
    print '\t\t Pick%s %.4f' % (pickUpLoc, num/float(sum(pickUpX2010.values())))

Drop AP
	 Year 2009
		 PickX 0.72
		 PickBudgetT 0.03
		 PickT2 0.07
		 PickT3 0.11
		 PickT1 0.07
	 Year 2010
		 PickX 0.65
		 PickBudgetT 0.03
		 PickT2 0.08
		 PickT3 0.13
		 PickT1 0.10
Drop X (other areas)
	 Year 2009
		 PickX 0.9893
		 PickBudgetT 0.0008
		 PickT2 0.0033
		 PickT3 0.0024
		 PickT1 0.0043
	 Year 2010
		 PickX 0.9887
		 PickBudgetT 0.0009
		 PickT2 0.0033
		 PickT3 0.0026
		 PickT1 0.0045