In [1]:
import __init__
#
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
def regression(dv, df):
    oc_dv = 'roamingTime' if dv == 'spendingTime' else 'spendingTime'
    rdf = df.copy(deep=True).drop([oc_dv], axis=1)
#     rdf = rdf[~(np.abs(rdf[dv] - rdf[dv].mean()) > (3 * rdf[dv].std()))]
    candi_dummies = []
    num_iter = 1
    while True:
        for i, vs in enumerate(zip(*rdf.values)):
            if rdf.columns[i] == dv:
                continue
            if sum(vs) > len(rdf) * MIN_PICKUP_RATIO * num_iter:
                candi_dummies.append(rdf.columns[i])
        if len(rdf) <= len(candi_dummies):
            candi_dummies = []
            num_iter += 1
        else:
            break
    y = rdf[dv]
    X = rdf[candi_dummies]
    X = sm.add_constant(X)
    return sm.OLS(y, X, missing='drop').fit()

In [3]:
from community_analysis import tfZ_TP_dpath, tfZ_TP_prefix
#
df = pd.read_csv('%s/%s2009-3.csv' % (tfZ_TP_dpath, tfZ_TP_prefix))

In [9]:
df

,month,day,timeFrame,zi,zj,tfZ,did,spendingTime,roamingTime,32768,...,32442,32469,32502,32509,32529,32537,32542,32647,32656,16375
0,1,1,14,54,12,"(14,54,12)",36942,240,240,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,14,38,45,"(14,38,45)",33720,48,238,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,14,61,27,"(14,61,27)",20677,592,1408,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,14,53,25,"(14,53,25)",29328,596,1428,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,14,41,16,"(14,41,16)",19360,356,987,0,...,0,0,0,0,0,0,0,0,0,0
5,1,1,14,55,12,"(14,55,12)",36942,34,133,0,...,0,0,0,0,0,0,0,0,0,0
6,1,1,14,53,25,"(14,53,25)",37230,15,297,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,14,29,18,"(14,29,18)",31043,27,322,0,...,0,0,0,0,0,0,0,0,0,0
8,1,1,14,59,30,"(14,59,30)",1098,3,199,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,14,75,25,"(14,75,25)",13781,40,2214,0,...,0,0,0,0,0,0,0,0,0,0
10,1,1,14,36,12,"(14,36,12)",11382,45,1574,0,...,0,0,0,0,0,0,0,0,0,0
11,1,1,14,51,28,"(14,51,28)",14664,18,253,0,...,0,0,0,0,0,0,0,0,0,0
12,1,1,14,29,18,"(14,29,18)",31043,83,433,0,...,0,0,0,0,0,0,0,0,0,0
13,1,1,14,49,12,"(14,49,12)",19360,64,766,0,...,0,0,0,0,0,0,0,0,0,0
14,1,1,15,64,17,"(15,64,17)",33720,723,1061,0,...,0,0,0,0,0,0,0,0,0,0
15,1,1,15,57,14,"(15,57,14)",13781,238,238,0,...,0,0,0,0,0,0,0,0,0,0
16,1,1,15,19,23,"(15,19,23)",11382,50,687,0,...,0,0,0,0,0,0,0,0,0,0
17,1,1,15,50,9,"(15,50,9)",813,22,1390,0,...,0,0,0,0,0,0,0,0,0,0
18,1,1,15,51,12,"(15,51,12)",19360,120,167,0,...,0,0,0,0,0,0,0,0,0,0
19,1,1,15,25,25,"(15,25,25)",3145,46,92,0,...,0,0,0,0,0,0,0,0,0,0
20,1,1,15,36,45,"(15,36,45)",33650,1080,1369,0,...,0,0,0,0,0,0,0,0,0,0
21,1,1,15,54,16,"(15,54,16)",19360,23,202,0,...,0,0,0,0,0,0,0,0,0,0
22,1,1,15,47,6,"(15,47,6)",1098,386,1774,0,...,0,0,0,0,0,0,0,0,0,0
23,1,1,15,76,24,"(15,76,24)",21597,61,501,0,...,0,0,0,0,0,0,0,0,0,0
24,1,1,15,19,23,"(15,19,23)",33720,35,35,0,...,0,0,0,0,0,0,0,0,0,0
25,1,1,15,19,22,"(15,19,22)",3145,3,634,0,...,0,0,0,0,0,0,0,0,0,0
26,1,1,15,34,31,"(15,34,31)",33650,127,471,0,...,0,0,0,0,0,0,0,0,0,0
27,1,1,15,68,15,"(15,68,15)",36942,24,270,0,...,0,0,0,0,0,0,0,0,0,0
28,1,1,15,52,28,"(15,52,28)",34978,69,1552,0,...,0,0,0,0,0,0,0,0,0,0
29,1,1,15,53,10,"(15,53,10)",1537,107,107,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47325,11,30,21,34,41,"(21,34,41)",23456,23,458,0,...,0,0,0,0,0,0,0,0,0,0
47326,11,30,21,41,16,"(21,41,16)",21812,80,383,0,...,0,0,0,0,0,0,0,0,0,0
47327,11,30,21,75,25,"(21,75,25)",15346,157,1038,0,...,0,0,0,1,0,0,0,0,0,0
47328,11,30,21,79,21,"(21,79,21)",28615,27,679,0,...,0,1,0,1,0,0,0,0,0,0
47329,11,30,22,43,45,"(22,43,45)",33720,563,713,0,...,0,0,0,0,0,0,0,0,0,0
47330,11,30,22,60,20,"(22,60,20)",6361,45,499,0,...,0,0,0,0,0,0,0,0,0,0
47331,11,30,22,79,21,"(22,79,21)",28615,49,549,0,...,0,1,0,1,0,0,0,0,0,0
47332,11,30,22,79,21,"(22,79,21)",4629,27,471,0,...,0,1,0,1,0,0,0,0,0,0
47333,11,30,22,54,21,"(22,54,21)",15346,99,909,0,...,0,0,0,1,0,0,0,0,0,0
47334,11,30,22,66,18,"(22,66,18)",6361,29,715,0,...,0,0,0,0,0,0,0,0,0,0
47335,11,30,22,37,46,"(22,37,46)",33720,3,408,0,...,0,0,0,0,0,0,0,0,0,0
47336,11,30,22,78,27,"(22,78,27)",1799,27,907,0,...,0,0,0,0,0,0,0,0,0,0
47337,11,30,22,85,26,"(22,85,26)",4009,716,1305,0,...,0,0,0,1,1,1,0,0,0,0
47338,11,30,22,75,24,"(22,75,24)",6361,61,403,0,...,0,0,0,0,0,0,0,0,0,0
47339,11,30,23,60,20,"(23,60,20)",4629,15,419,0,...,0,0,0,0,0,0,0,0,0,0
47340,11,30,23,85,27,"(23,85,27)",17877,25,91,0,...,0,0,0,1,0,1,1,0,0,0
47341,11,30,23,46,15,"(23,46,15)",4009,10,317,0,...,0,0,0,0,0,0,0,0,0,0
47342,11,30,23,84,26,"(23,84,26)",20393,39,504,0,...,0,0,0,0,1,0,0,0,0,0
47343,11,30,23,52,29,"(23,52,29)",13781,6,1604,0,...,0,0,0,0,0,0,0,0,0,0
47344,11,30,23,56,14,"(23,56,14)",1799,2,405,0,...,0,0,0,0,0,0,1,0,0,0
47345,11,30,23,83,22,"(23,83,22)",46139,117,992,0,...,0,0,0,0,0,1,0,0,0,0
47346,11,30,23,55,15,"(23,55,15)",4009,6,216,0,...,0,0,0,0,0,0,0,0,0,0
47347,11,30,23,48,14,"(23,48,14)",17877,4,4,0,...,0,0,0,0,0,1,1,0,0,0
47348,11,30,23,21,22,"(23,21,22)",15789,35,335,0,...,0,0,0,0,0,0,0,0,0,0
47349,11,30,23,53,10,"(23,53,10)",1098,47,638,0,...,0,0,0,1,1,0,1,0,0,0
47350,11,30,23,56,12,"(23,56,12)",20393,33,433,0,...,0,1,0,1,1,1,0,0,0,0
47351,11,30,23,72,30,"(23,72,30)",4629,10,661,0,...,0,0,0,1,0,0,1,0,0,0
47352,11,30,23,32,31,"(23,32,31)",13781,32,311,0,...,0,0,0,0,0,0,1,0,0,0
47353,11,30,23,54,10,"(23,54,10)",17877,9,132,0,...,0,0,0,1,0,1,1,0,0,0
47354,11,30,23,67,34,"(23,67,34)",1799,18,289,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
did1 = 31043
did1_df = df[(df['did'] == did1)].copy(deep=True)
did1_df = did1_df.drop(['month', 'day', 'timeFrame', 'zi', 'zj', 'tfZ', 'did'], axis=1)
if '%d' % did1 in did1_df.columns:
    did1_df = did1_df.drop(['%d' % did1], axis=1)

In [11]:
len(did1_df), len(did1_df.columns)

(149, 6105)

In [12]:
MIN_PICKUP_RATIO = 0.1
SP_res = regression('spendingTime', did1_df)

In [13]:
did1_df['spendingTime'].mean()

91.738255033557053

In [14]:
print SP_res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:           spendingTime   R-squared:                       0.424
Model:                            OLS   Adj. R-squared:                  0.278
Method:                 Least Squares   F-statistic:                     2.900
Date:                Mon, 16 Jan 2017   Prob (F-statistic):           2.31e-05
Time:                        14:39:52   Log-Likelihood:                -931.17
No. Observations:                 149   AIC:                             1924.
Df Residuals:                     118   BIC:                             2017.
Df Model:                          30
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         74.4381     14.742      5.049      0.000      45.245     103.631
199          -12.2121     59.003     -0.207      0.836    -129.054     104.630
532          106.3090     76.499      1.390      0.167     -45.180     257.798
790          -61.3001     66.408     -0.923      0.358    -192.806      70.206
836           84.9117     56.968      1.491      0.139     -27.900     197.723
33632         30.2598     51.793      0.584      0.560     -72.304     132.823
33934         -5.0604     63.425     -0.080      0.937    -130.658     120.537
34162         29.7820     59.012      0.505      0.615     -87.078     146.642
34467        256.6260     59.681      4.300      0.000     138.441     374.811
35571          2.7330     55.445      0.049      0.961    -107.063     112.529
2818         -93.8706     54.188     -1.732      0.086    -201.177      13.436
35594       -101.9538     53.256     -1.914      0.058    -207.416       3.508
3585          27.2276     67.989      0.400      0.690    -107.409     161.864
3885         -36.1352     54.934     -0.658      0.512    -144.920      72.650
4177        -132.3898     59.786     -2.214      0.029    -250.783     -13.996
4733         122.7444     54.840      2.238      0.027      14.145     231.343
4866         -18.8560     68.402     -0.276      0.783    -154.311     116.599
4951         120.0563     53.354      2.250      0.026      14.401     225.712
6543        -108.5549     57.915     -1.874      0.063    -223.241       6.132
8056         150.3484     62.983      2.387      0.019      25.625     275.072
10400        166.4204     52.676      3.159      0.002      62.107     270.734
18517         55.3999     62.338      0.889      0.376     -68.045     178.845
15961        -52.2350     60.054     -0.870      0.386    -171.158      66.688
17703         -3.4620     72.315     -0.048      0.962    -146.665     139.741
18161        -56.4560     48.018     -1.176      0.242    -151.546      38.634
19267        -58.9859     47.533     -1.241      0.217    -153.114      35.142
19734        -14.3000     55.126     -0.259      0.796    -123.465      94.865
20348       -124.1436     64.486     -1.925      0.057    -251.843       3.556
20599         -0.6188     61.322     -0.010      0.992    -122.054     120.816
21239        -58.8897     74.055     -0.795      0.428    -205.539      87.760
21483        -51.3584     60.418     -0.850      0.397    -171.002      68.285
==============================================================================
Omnibus:                       78.704   Durbin-Watson:                   1.912
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              372.074
Skew:                           1.925   Prob(JB):                     1.60e-81
Kurtosis:                       9.716   Cond. No.                         13.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [15]:
RP_res = regression('roamingTime', did1_df)

In [16]:
print RP_res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:            roamingTime   R-squared:                       0.354
Model:                            OLS   Adj. R-squared:                  0.190
Method:                 Least Squares   F-statistic:                     2.160
Date:                Mon, 16 Jan 2017   Prob (F-statistic):            0.00186
Time:                        14:40:18   Log-Likelihood:                -1125.0
No. Observations:                 149   AIC:                             2312.
Df Residuals:                     118   BIC:                             2405.
Df Model:                          30
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        874.3205     54.134     16.151      0.000     767.120     981.521
199         -275.5570    216.668     -1.272      0.206    -704.618     153.504
532          969.9556    280.915      3.453      0.001     413.667    1526.244
790         -333.1008    243.861     -1.366      0.175    -816.011     149.810
836          214.0450    209.194      1.023      0.308    -200.215     628.305
33632        108.5377    190.190      0.571      0.569    -268.090     485.165
33934        556.8107    232.904      2.391      0.018      95.597    1018.024
34162        -26.0567    216.701     -0.120      0.904    -455.183     403.070
34467        207.5883    219.157      0.947      0.345    -226.403     641.580
35571        381.4005    203.602      1.873      0.064     -21.787     784.588
2818        -467.6995    198.985     -2.350      0.020    -861.745     -73.654
35594       -396.8231    195.565     -2.029      0.045    -784.095      -9.551
3585         -21.0161    249.665     -0.084      0.933    -515.421     473.389
3885        -439.6471    201.727     -2.179      0.031    -839.121     -40.173
4177         -61.7124    219.545     -0.281      0.779    -496.471     373.046
4733          69.1319    201.382      0.343      0.732    -329.659     467.923
4866         -43.9094    251.183     -0.175      0.862    -541.320     453.501
4951        -366.7825    195.924     -1.872      0.064    -754.765      21.200
6543         -73.8981    212.671     -0.347      0.729    -495.044     347.248
8056         779.8068    231.282      3.372      0.001     321.805    1237.809
10400        -35.0767    193.435     -0.181      0.856    -418.131     347.978
18517         52.5440    228.913      0.230      0.819    -400.765     505.853
15961       -471.9263    220.527     -2.140      0.034    -908.630     -35.222
17703        -50.8836    265.550     -0.192      0.848    -576.744     474.977
18161        101.4944    176.331      0.576      0.566    -247.689     450.677
19267         96.6955    174.548      0.554      0.581    -248.957     442.347
19734       -566.3429    202.432     -2.798      0.006    -967.214    -165.472
20348        -36.7139    236.802     -0.155      0.877    -505.647     432.219
20599       -357.8857    225.185     -1.589      0.115    -803.813      88.041
21239       -235.4500    271.941     -0.866      0.388    -773.968     303.068
21483       -153.9758    221.862     -0.694      0.489    -593.323     285.371
==============================================================================
Omnibus:                        4.680   Durbin-Watson:                   1.806
Prob(Omnibus):                  0.096   Jarque-Bera (JB):                4.744
Skew:                           0.429   Prob(JB):                       0.0933
Kurtosis:                       2.832   Cond. No.                         13.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.