In [1]:
import __init__
#
from IPython.display import HTML, display
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
#
# some functions
#
def text_display(text, font_size):
    display(HTML('<font size=%d>' % font_size + text + '</font>'))

def table_display(table_data):
    display(HTML(
    '<table><tr>{}</tr></table>'.format(
        '</tr><tr>'.join(
            '<td>{}</td>'.format('</td><td>'.join(str(_) for _ in row)) for row in table_data)
        )
    ))

# Questions
* Q1: What was changed after information boards were set up?
    * H1: Queueing time at the airport in 2009 and 2010 is different
    * H2: Economic profit in 2009 and 2010 is different
    * H3: Productivity in 2009 and 2010 is different

* Q2: Is the impact of information boards valid?
    * Simple regression
    * Multivariate regression
    
# Variables
* All values are total ones during a certain period
* AP trip represents trips which depart from the airport

| Variable        | Description |
| ---------------- |------------------|
| tripNumber       | The number of trips |
| operatingHour    | The operating hour (unit hour) |
| Fare             | The amount of fare (unit S$\$$) |
| apNumber         | The number of AP trips |
| apInNumber       | The number of AP trips whose previous trip ended at the airport |
| apOutNumber      | The difference between apNumber and apInNumber |
| apDuration       | The amount of time passengers are on board (unit minute) |
| apQTime          | The amount of waiting time for taking passengers (unit minute) |
| apFare           | The amount of fare earned through AP trips (unit S$\$$) |
| apEconomicProfit | The difference between apFare and opportunity cost (unit S$\$$) |

# Derive variables for analysis
| Variable             | Description |
| --------------------- |------------------|
| QTime/apTrip          | The average queuing time at the airport (unit minute) |
| economicProfit/apTrip | The average economic profit about a AP trip (unit S$\$$) |
| Productivity          | The rate of fare per operating hour (unit S$\$$ / hour) |
| apProductivity        | The rate of apFare per the sum of apDuration and apQTime (unit S$\$$ / hour) |

In [4]:
from information_boards import ssDriversStatisticsDayBasedModi_ap_fpath
df = pd.read_csv(ssDriversStatisticsDayBasedModi_ap_fpath)
display(df.head())

,year,month,day,driverID,tripNumber,operatingHour,Fare,apNumber,apDuration,apFare,apEconomicProfit,apQTime,apInNumber,apOutNumber,QTime/apTrip,economicProfit/apTrip,Productivity,apProductivity
0,2009,1,1,8240,22,6.816667,274,1,12.0,12,0.724007,25.083333,0,1,25.083333,0.724007,40.195599,19.415730
1,2009,1,1,16511,22,11.000000,264,1,19.0,17,0.386804,34.700000,0,1,34.700000,0.386804,24.000000,18.994413
2,2009,1,1,8327,4,3.966667,80,2,40.0,46,-5.265366,107.816667,0,2,53.908333,-2.632683,20.168067,18.671778
3,2009,1,1,8360,17,10.700000,186,2,44.0,39,-9.475221,96.033333,0,2,48.016667,-4.737610,17.383178,16.710307
4,2009,1,1,8380,6,5.083333,78,1,26.0,22,6.571396,22.116667,0,1,22.116667,6.571396,15.344262,27.433322

# Average

In [5]:
attributes = ['tripNumber','operatingHour','Fare']
stats = [np.mean(df[attr]) for attr in attributes]
table_display([attributes, stats])
attributes = ['apNumber','apInNumber','apOutNumber', 'apQTime','apDuration','apFare','apEconomicProfit']
stats = [np.mean(df[attr]) for attr in attributes]
table_display([attributes, stats])
attributes = ['QTime/apTrip', 'economicProfit/apTrip', 'Productivity', 'apProductivity']
stats = [np.mean(df[attr]) for attr in attributes]
table_display([attributes, stats])

# Standard deviation

In [6]:
attributes = ['tripNumber','operatingHour','Fare']
stats = [np.std(df[attr]) for attr in attributes]
table_display([attributes, stats])
attributes = ['apNumber','apInNumber','apOutNumber', 'apQTime','apDuration','apFare','apEconomicProfit']
stats = [np.std(df[attr]) for attr in attributes]
table_display([attributes, stats])
attributes = ['QTime/apTrip', 'economicProfit/apTrip', 'Productivity', 'apProductivity']
stats = [np.std(df[attr]) for attr in attributes]
table_display([attributes, stats])

# t-test

In [7]:
Y2009, Y2010 = df[(df['year'] == 2009)], df[(df['year'] == 2010)]
# statistics
attributes = ['QTime/apTrip', 'economicProfit/apTrip', 'Productivity', 'apProductivity']
Y2009_avg_std = [(Y2009[attr].mean(), Y2009[attr].std()) for attr in attributes]
Y2010_avg_std = [(Y2010[attr].mean(), Y2010[attr].std()) for attr in attributes]
t_test = [ttest_ind(Y2010[attr], Y2009[attr]) for attr in attributes]
# display
# table_display([ ['Year'] + attributes,
#                 ['2009'] + ['%.2f(%.2f)' % (a, v) for a, v in Y2009_avg_std],
#                 ['2010'] + ['%.2f(%.2f)' % (a, v) for a, v in Y2010_avg_std],
#                 ['Diff.'] + ['%.2f' % (Y2010_avg_std[i][0] - Y2009_avg_std[i][0]) for i in range(len(Y2009_avg_std))],
#                 ['t-test'] + ['%.2f(%.2f)' % (t, p) for t, p in t_test]
#                 ])
table_display([ ['Year'] + attributes,
                ['2009'] + ['%f(%f)' % (a, v) for a, v in Y2009_avg_std],
                ['2010'] + ['%f(%f)' % (a, v) for a, v in Y2010_avg_std],
                ['Diff.'] + ['%f' % (Y2010_avg_std[i][0] - Y2009_avg_std[i][0]) for i in range(len(Y2009_avg_std))],
                ['t-test'] + ['%f(%f)' % (t, p) for t, p in t_test]
                ])